In [ ]:
continuation with list datatype:

In [ ]:
slicing of list datatype 
for implementation with list data type:

In [4]:
my_students = ['ravi','irfan','gaurav','deepak','akshay','kalyani','rahul','kiran']
print(my_students)

['ravi', 'irfan', 'gaurav', 'deepak', 'akshay', 'kalyani', 'rahul', 'kiran']

In [2]:
type(my_students)

list

In [ ]:
req: to access 'gurav' name? index num?

In [3]:
print(my_students[2])

gaurav

In [ ]:
general syntax of slicing:
    
startvalue:stopvalue:stepcount***(based on indexes)
        
lastvalue is always exclusive(it will not be displayed or printed on the screen or output)

In [5]:
print(my_students[0:1])

['ravi']

In [6]:
print(my_students[0:2]) #single group slice

['ravi', 'irfan']

In [7]:
print(my_students[2:4]) #2nd slice....last value

['gaurav', 'deepak']

In [8]:
print(my_students[4:6])

['akshay', 'kalyani']

In [9]:
print(my_students[6:8])

['rahul', 'kiran']

In [ ]:
req:to print number between 1-20 and i have to store them in a list:

In [13]:
numbers = list(range(1,21))...#last value is always exclusive

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
req: i want to print even number from 1-30 by using a list.

In [ ]:
if a number is divisible by 2,that is condsidered as even number.

In [16]:
even_numbers = list(range(2,31,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
req: i want to print odd number from 1-31 by using a list

In [ ]:
if a number is not divisible by 2,that us considered as odd number

In [29]:
odd_numbers = list(range(3,31,2))
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
organising the list:

In [30]:
print(my_students)

['ravi', 'irfan', 'gaurav', 'deepak', 'akshay', 'kalyani', 'rahul', 'kiran']

In [ ]:
req:i have to arrange the above list in an alphabetical order(A-Z)

two possible ways:
    
temporary sorting(sorted)

permanent sorting(sort)

In [31]:
print(sorted(my_students)) #A-Z

['akshay', 'deepak', 'gaurav', 'irfan', 'kalyani', 'kiran', 'rahul', 'ravi']

In [32]:
print(my_students)

['ravi', 'irfan', 'gaurav', 'deepak', 'akshay', 'kalyani', 'rahul', 'kiran']

In [ ]:
as you can see it was a temporary sorting.

In [34]:
my_students.sort()

print(my_students)

['akshay', 'deepak', 'gaurav', 'irfan', 'kalyani', 'kiran', 'rahul', 'ravi']

In [35]:
print(my_students)

['akshay', 'deepak', 'gaurav', 'irfan', 'kalyani', 'kiran', 'rahul', 'ravi']

In [ ]:
now you can observe the sorting is done permanenty to your list.